*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , 'sans-serif';
}
header{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e2e2e2;
    min-height: 60px;
    justify-content:  space-between;
    width: 100%;
}
.header-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:  space-between;

}
head .left,
header .right{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav ul{
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav ul li{
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.nav ul li:hover{
    color: #ee356c;
}
.inputSearch{
    background-color: #f5f5f9;
    padding: 7px 10px;
    display: flex;
    align-items: center;
}
.inputSearch input{
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;
    min-width: 300px;
    width: 100%;
    max-width: 700px;
}
.accountLink{
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 500;
}